<head>
  <meta charset="utf-8">
  <title>Compliance</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<h1>Hi <%= name %></h1>
<table>
  <tr>
    <th  colspan="20" class="control_head">Legal and Regulatory Compliance Schedule</th>
  </tr>
  <tr>
    <th class="control_head">Control</th>
    <th colspan="3" class="policy_head">Policy</th>
    <th colspan="3" class="procedure_head">Procedure</th>
    <th colspan="6" class="implement_head">Implementation</th>
    <th colspan="4" class="measured_head">Measured</th>
    <th colspan="2" class="managed_head">Managed</th>
    <th class="legal_head">Legal/Regulatory Requirements</th>
    <th class="edit_head">EDIT</th>
  </tr>
  <tr>
    <th class="control_head"></th>
    <th class="policy_head">Name of Policy</th>
    <th class="policy_head">Location of Policy</th>
    <th class="policy_head">Link to Policy</th>
    <th class="procedure_head">Name of Procedure</th>
    <th class="procedure_head">Location of Procedure</th>
    <th class="procedure_head">Link to Procedure</th>
    <th class="implement_head">Type of Evidence</th>
    <th class="implement_head">Location of Evidence</th>
    <th class="implement_head">Link to Evidence</th>
    <th class="implement_head">Frequency of Performance</th>
    <th class="implement_head">Date of Last Performance</th>
    <th class="implement_head">Date of Next Performance</th>
    <th class="measured_head">Owner and Manager</th>
    <th class="measured_head">Criteria for Assessment</th>
    <th class="measured_head">Results of Assessment</th>
    <th class="measured_head">Date of Last Assessment</th>
    <th class="managed_head">Date of Last Review of Policy and Procedure</th>
    <th class="managed_head">Date of Next Review of Policy and Procedure</th>
    <th class="legal_head"></th>
    <th class="edit_head"></th>
  </tr>
  <% for (var i = 0; i < rows.length; i++) {
    if(rows[i].is_header == true) { %>
      <tr>

      <td class="header space" colspan="20"></td>
      </tr>
      <tr>
      <td class="header" colspan="20"><b> <%= rows[i].control %> </b></td>
      </tr>
  <%  }
    else{
    let lastComposite = 'MM/DD/YYYY'
    if(rows[i].last_done){
      let last = new Date(rows[i].last_done)
      let lastMonth = last.getMonth() + 1
      let lastMonthString = lastMonth.toString()
      if (lastMonth < 10) {
        lastMonthString = '0' + lastMonthString }
      let lastDay = last.getDate()
      let lastDayString = lastDay.toString()
      if (lastDay < 10) {
        lastDayString = '0' + lastDayString }
      let lastYear = last.getFullYear()
      let lastYearString = lastYear.toString()
      lastComposite = lastMonthString + '/' + lastDayString + '/' + lastYearString
  } %>

    <% let nextComposite = 'MM/DD/YYYY'
    if(rows[i].next_to_do) {
    next = new Date(rows[i].next_to_do)
     let nextMonth = next.getMonth() + 1
     let nextMonthString = nextMonth.toString()
     if (nextMonth < 10) {
        nextMonthString = '0' + nextMonthString }
     let nextDay = next.getDate()
     let nextDayString = nextDay.toString()
     if (nextDay < 10) {
        nextDayString = '0' + nextDayString }
     let nextYear = next.getFullYear()
     let nextYearString = nextYear.toString()
     nextComposite = nextMonthString + '/' + nextDayString + '/' + nextYearString
   }%>

   <% let lastAssessedComposite = 'MM/DD/YYYY'
   if(rows[i].last_assessed) {
   next = new Date(rows[i].last_assessed)
    let nextMonth = next.getMonth() + 1
    let nextMonthString = nextMonth.toString()
    if (nextMonth < 10) {
       nextMonthString = '0' + nextMonthString }
    let nextDay = next.getDate()
    let nextDayString = nextDay.toString()
    if (nextDay < 10) {
       nextDayString = '0' + nextDayString }
    let nextYear = next.getFullYear()
    let nextYearString = nextYear.toString()
    lastAssessedComposite = nextMonthString + '/' + nextDayString + '/' + nextYearString
  }%>

  <% let lastReviewedComposite = 'MM/DD/YYYY'
    if(rows[i].last_reviewed){
      let last = new Date(rows[i].last_reviewed)
      let lastMonth = last.getMonth() + 1
      let lastMonthString = lastMonth.toString()
      if (lastMonth < 10) {
        lastMonthString = '0' + lastMonthString }
      let lastDay = last.getDate()
      let lastDayString = lastDay.toString()
      if (lastDay < 10) {
        lastDayString = '0' + lastDayString }
      let lastYear = last.getFullYear()
      let lastYearString = lastYear.toString()
      lastReviewedComposite = lastMonthString + '/' + lastDayString + '/' + lastYearString
  } %>

    <% let nextReviewComposite = 'MM/DD/YYYY'
    if(rows[i].next_review) {
    next = new Date(rows[i].next_review)
     let nextMonth = next.getMonth() + 1
     let nextMonthString = nextMonth.toString()
     if (nextMonth < 10) {
        nextMonthString = '0' + nextMonthString }
     let nextDay = next.getDate()
     let nextDayString = nextDay.toString()
     if (nextDay < 10) {
        nextDayString = '0' + nextDayString }
     let nextYear = next.getFullYear()
     let nextYearString = nextYear.toString()
     nextReviewComposite = nextMonthString + '/' + nextDayString + '/' + nextYearString
   }%>

  <tr>
    <td><%= rows[i].control %></td>
    <td><%= rows[i].policy_name %></td>
    <td><%= rows[i].policy_location %></td>
    <td><%= rows[i].policy_link %></td>
    <td><%= rows[i].procedure_name %></td>
    <td><%= rows[i].procedure_location %></td>
    <td><%= rows[i].procedure_link %></td>
    <td><%= rows[i].evidence_type %></td>
    <td><%= rows[i].evidence_location %></td>
    <td><%= rows[i].evidence_link %></td>
    <td><%= rows[i].freq %></td>
    <td><%= lastComposite %></td>
    <td><%= nextComposite %></td>
<!--    <td>< %= rows[i].how_to_comply %></td>  -->
    <td><%= rows[i].owner %></td>
    <td><%= rows[i].criteria %></td>
    <td><%= rows[i].results %></td>
    <td><%= lastAssessedComposite %></td>
    <td><%= lastReviewedComposite %></td>
    <td><%= nextReviewComposite %></td>
    <td><%= rows[i].legal_requirements %></td>
    <td><a href="/edit?id=<%= rows[i].id%>">EDIT</a></td>
  </tr>
  <% }} %>
</table>
<form action='/logout?_method=DELETE' method="POST">
  <button type="submit">Log Out</button>
  </form>
